Ulatina.Electiva.Classwork.Training/Ulatina.Electiva.Classwork.Training/Connected Services/SI.AdventureWorks/AdventureWorksWcf5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58512/Dominio/Servicios/AdventureWorksWcf.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ulatina.Electiva.AdventureWorks.BL" />
  <xs:import schemaLocation="http://localhost:58512/Dominio/Servicios/AdventureWorksWcf.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ulatina.Electiva.AdventureWorks.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ulatina.Electiva.AdventureWorks.BL" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ulatina.Electiva.AdventureWorks.BL" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductosParaViewModel">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductosParaViewModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ulatina.Electiva.AdventureWorks.Model" minOccurs="0" name="ListarProductosParaViewModelResult" nillable="true" type="q3:ArrayOfProductsViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ulatina.Electiva.AdventureWorks.Model" minOccurs="0" name="ListarProductosResult" nillable="true" type="q4:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProductoPorNumero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="miNumeroDeProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProductoPorNumeroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ulatina.Electiva.AdventureWorks.Model" minOccurs="0" name="BuscarProductoPorNumeroResult" nillable="true" type="q5:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorNombreDeProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="elNombreDelProducto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorNombreDeProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ulatina.Electiva.AdventureWorks.Model" minOccurs="0" name="ConsultarPorNombreDeProductoResult" nillable="true" type="q6:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="elColor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Ulatina.Electiva.AdventureWorks.Model" minOccurs="0" name="ConsultarPorColorResult" nillable="true" type="q7:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorPrecio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="elPrecioMinimo" type="xs:decimal" />
        <xs:element minOccurs="0" name="elPrecioMaximo" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorPrecioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Ulatina.Electiva.AdventureWorks.Model" minOccurs="0" name="ConsultarPorPrecioResult" nillable="true" type="q8:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorTamano">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="elTamano" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="incluirNulos" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorTamanoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Ulatina.Electiva.AdventureWorks.Model" minOccurs="0" name="ConsultarPorTamanoResult" nillable="true" type="q9:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorNombreDeSubcategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="elNombreDeLaSubcategoria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPorNombreDeSubcategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Ulatina.Electiva.AdventureWorks.Model" minOccurs="0" name="ConsultarPorNombreDeSubcategoriaResult" nillable="true" type="q10:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>